
body{
    margin: 0;
}

#Main-Content{
    margin-top: 100px;
    width: 100%;
    margin-bottom: 100px;
}

#Profile{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap:75px;
    padding-left: 25px;
    padding-right: 25px;
}

#Face{
    background-image: url(Images/MakyWeb/AboutMe/MakyFace.jpg);
    min-width: 400px;
    width: 50vh;
    height: 50vh;
    background-size: cover;
    border-radius: 50%;
}

#FaceQuote{
    width: auto;
    max-width: 600px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    color: gray;
    margin-left: 15px;
    margin-right: 15px;
}

#RowImages{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.ImageBlock{
    width:400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    flex-basis: auto;
}

@media only screen and (max-width: 800px) {
    #Profile{
        flex-direction: column;
    }

    #Face{
        margin-left: auto;
        margin-right: auto;
    }

    #RowImages{
        flex-direction: column;
    }

    .ImageBlock{
        width: 100%;
    }
}