
footer{
    width: 100%;
    background-color: black;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

footer>div{
    margin-top: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

footer>div:last-child{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    text-align: center;
    font-size: 1rem;
    color: gray;
}

#LeftFoot{
    max-width: 500px;
}

#LeftFoot>p{
    width: 100%;
}

#LeftFoot>p{
    height: auto;
}

#LeftFoot>p:last-child{
    color: gray;
}

#RightFoot{
    margin-left: auto;
}

#ArtImages{
    margin-left: auto;
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 100px 150px;
    gap: 15px;
}

p{
    width: 100%;
    height: 100%;
    background-size: cover;
}

@media only screen and (max-width: 800px) {
    footer>div{
        flex-direction: column;
    }

    #LeftFoot{
        font-size: 1.25rem;
    }

    #ArtImages{
        grid-template-columns: 42vw 42vw;
        grid-template-rows: 125px 175px 250px;
        row-gap: 20px;
        column-gap: 20px;
    }

    #RightFoot{
        margin-left: 0px;
    }

    footer>div{
        margin-left: 15px;
    }
}