body{
    margin: 0%;
}

section{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}

.Gallery-Item{
    color:gray;
    font-size: 30px;
    max-width: 1000px;
}

.Gallery-Item > p{
    width: auto;
    height: auto;
}

.Scroll-Frame{
    display: grid;
    gap: 200px;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    grid-auto-flow: column;
    background-size: cover;
    user-select: none;
    scroll-behavior: smooth;
}

.Dragging{
    scroll-snap-type: none;
    scroll-behavior:auto;
}

.Scroll-Frame > img{
    scroll-snap-align: center;
    -webkit-user-drag: none;
    user-select: none;
    object-fit: cover;
}


@media only screen and (max-width: 800px) {
    .Scroll-Frame > img{
        max-width: 100vw;
    }

    .Gallery-Item > p{
        text-align: center;
    }
}


.Scroll-Frame > img:first-child{
    margin-left: 500px;
}

.Scroll-Frame > img:last-child{
    margin-right: 500px;
}