
header{
    height: 650px;
}

#quote{
    font-size: 50px;
    text-align: left;
    max-width: 600px;
    font-weight:500;
}

#home-page-link{
    margin-left: 0%;
    max-width: 300px;
    line-height: 12vh;
    font-size: 30px;
    color:antiquewhite;
}

section div{
    height: 40px;
    font-size: 30px;
    color: gray;
    margin-left: auto;
    text-align: center;
}

section div:first-child{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 45px;
    height: auto;
}

section div:last-child{
    margin-top: 25px;
    margin-bottom: 40px;
    width: auto;
    height: auto;
}

img{
    display: block;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

body{
    margin: 0;
}